@model BlogVM
@{
    ViewData["Title"] = "Index";
}

<!-- Main Area -->
<main>
    <section id="background">
        <div class="blog-background-images" style="background-image:url(/assets/images/blog/blog-background.jpg)">
            <h2>Blog</h2>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    @foreach (var blog in Model.BLogs)
                    {
                        <div class="section-1" style="margin-top:20px;">
                            <div class="image-1">
                                <a asp-controller="BLog" asp-action="BlogDetail" asp-route-id="@blog.Id"><img src="~/assets/images/blog/@blog.Image" alt=""></a>
                            </div>
                            <div class="name-date">
                                <div class="name">
                                    <p>@blog.Compiler.Name /</p>
                                </div>
                                <div class="date">
                                    <p> July 29, 2019 </p>
                                </div>
                            </div>
                            <div class="title">
                                <a asp-controller="BLog" asp-action="BlogDetail" asp-route-id="@blog.Id">@blog.Title</a>
                            </div>
                            <div class="description">
                                <p>
                                    @blog.Description
                                </p>
                            </div>
                            <div class="read-more">
                                <a asp-controller="BLog" asp-action="BlogDetail" asp-route-id="@blog.Id">Read More</a>
                            </div>
                        </div>
                        <div class="section-2">
                            <div class="sign">
                                <h1>’’</h1>
                            </div>
                            <div class="description">
                                <p>
                                    @blog.Message
                                </p>
                            </div>
                            <div class="author-name">
                                <p>JANE AUSTEN</p>
                            </div>
                        </div>
                    }

                    <div class="section-5">
                        <div class="pagination">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="section-6">
                        <div class="image">
                            <img src="~/assets/images/blog/author.png" alt="">
                        </div>
                        <div class="country">
                            <p>AUSTRIA</p>
                        </div>
                        <div class="name">
                            <h4>John Strass</h4>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ...
                            </p>
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>

                    </div>

                    <div class="section-8">
                        <div class="image">
                            <img src="~/assets/images/blog/blog-sidebar-image.jpg" alt="">
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>
                    </div>

                    <div class="section-10">
                        <div class="socials">
                            <h5>Social</h5>
                        </div>
                        <div class="icons">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://twitter.com/">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/?hl=en">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.flickr.com/">
                                        <i class="fa-brands fa-flickr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.pinterest.com/">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>
                    </div>
                    <div class="section-11">
                        <div class="latest-titles">
                            <h5>The latest titles</h5>
                        </div>

                        @foreach (var item in Model.NewProduct.Take(4))
                        {
                            <div class="image-name mt-2">
                                <div class="image">
                                    <a href="ProductDetail.html">
                                        <img src="~/assets/images/shop/@item.Image"
                                             alt="">
                                    </a>
                                </div>
                                <div class="name-price">
                                    <a href="ProductDetail.html">@item.Name</a>
                                    <p>$@item.Price</p>
                                </div>
                            </div>

                        }
                        
                  
                    </div>
                </div>
            </div>

        </div>

    </section>
</main>
<!-- Main Area -->
@section Scripts{
    <script src="~/assets/js/blog.js"></script>
}
