@model ProductUpdateVM

@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5">
    <h1>Product Edit</h1>

    <div class="img-detail">
        <img src="~/assets/images/shop//@Model.Image" style="width:250px;height:200px" />
    </div>

    <form class="form-sample" method="post" enctype="multipart/form-data">
        <label for="formFile" class="form-label">Choose a new image for product</label>
        <input class="form-control" id="customFile" asp-for="Photo" />

        <label for="formFile" class="form-label">Name</label>
        <textarea class="form-control" id="slider-title-text" asp-for="Name" rows="3"></textarea>
        <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>

        <label for="formFile" class="form-label">Description</label>
        <input type="text mt-3" class="form-control" id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>

        <label for="formFile" class="form-label">Price</label>
        <textarea class="form-control" id="slider-title-text" asp-for="Price" rows="3"></textarea>
        <span class="text-danger" asp-validation-for="Price">@ViewBag.error</span>

        <label for="formFile" class="form-label">Stock Count</label>
        <textarea class="form-control" id="slider-title-text" asp-for="StockCount" rows="3"></textarea>
        <span class="text-danger" asp-validation-for="StockCount">@ViewBag.error</span>

        <label for="formFile" class="form-label">SKU</label>
        <textarea class="form-control" id="slider-title-text" asp-for="SKU" rows="3"></textarea>
        <span class="text-danger" asp-validation-for="SKU">@ViewBag.error</span>
      
        <div class="form-group">
            <label class="my-2">Add Author</label>
            <select class="form-control" id="customFile" asp-for="AuthorIds" asp-items="@ViewBag.authors"></select>
        </div>
        <div class="form-group">
            <label class="my-2">Add Tag</label>
            <select class="form-control" id="customFile" asp-for="TagIds" asp-items="@ViewBag.tags"></select>
        </div>
        <div class="form-group">
            <label class="my-2">Add Category</label>
            <select class="form-control" id="customFile" asp-for="GenreIds" asp-items="@ViewBag.genres"></select>
        </div>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>

@section Scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("slider-title-text");
    </script>
}










