@model ShopVM

@{
    ViewData["Title"] = "Index";
    int sumCategoryProductss = 0;
}
<!-- Main Area -->
<main>
    <section id="background">
        <div class="background-images" style="background-image:url(/assets/images/shop/bookstore.jpg)">
            <h2>Shop</h2>
        </div>
    </section>
    <section id="product-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <div class="results-sort">
                        <div class="results">
                            <p>Showing 1–12 of 12 results</p>
                        </div>
                        <div class="sort">
                            <form name="sortProducts" id="sortProducts">
                                <select id="sort" name="sort" class="form-select" aria-label="Default select example">
                                    <option value="1" selected disabled>Choose option</option>
                                    <option value="2">Sort By Latest</option>
                                    <option value="3">Sort By Popularity</option>
                                    <option value="4">Sort By Avarage Rating</option>
                                    <option value="5">Sort By Price:Low To High</option>
                                    <option value="6">Sort By Price:High to Low</option>
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="row product-list">
                        <partial name="_ProductsPartial" model="@Model.PaginateDatas" />
                    </div>



                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="right-section">
                        <div class="search">
                            <form id="widgets-searchbox">
                                <ul id="search-list" style="color:black">
                                    <li style="list-style:none;text-decoration:none;color:black">
                                        <input class="input-field"
                                               type="text"
                                               placeholder="Search" />
                                    </li>
                                </ul>

                            </form>
                        </div>

                        <div class="product-price mt-5">
                            <div class="price-title">
                                <h3>FILTER BY PRICE</h3>
                            </div>
                            <div class="price-filter">
                                <form id="filterForm" method="post" asp-controller="shop" asp-action="index">
                                    <div class="card">
                                        <div class="range-slider">
                                            <input name="value1" type="range" class="min-price" value="100" min="10" max="500"
                                                   step="10" style="accent-color: #d8d8d8;">
                                            <input name="value2" type="range" class="max-price" value="250" min="10" max="500"
                                                   step="10" style="accent-color: #d8d8d8;">
                                        </div>
                                        <div class="price-content">
                                            <div style="color: gray;">
                                                <p>Price:</p>
                                            </div>
                                            <div>
                                                <p id="min-value">50</p>
                                            </div>
                                            <div>
                                                <p id="max-value">500</p>
                                            </div>
                                            <div class="filter-button">
                                                <button type="submit">FILTER</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>

                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>

                        <div class="top-5">
                            <h5>Top 5 of the week</h5>
                        </div>

                        <div class="images">
                            <img src="~/assets/images/shop/small-product-1.jpg" alt="">
                            <img src="~/assets/images/shop/small-product-2.jpg" alt="">
                            <img src="~/assets/images/shop/small-product-3.jpg" alt="">
                            <img src="~/assets/images/shop/small-product-4.jpg" alt="">
                            <img src="~/assets/images/shop/small-product-5.jpg" alt="">
                        </div>

                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>

                        <div class="categories">
                            <h5>Genre</h5>
                        </div>

                        <div class="product-categories">


                            <div class="product-category">
                                <p class="all-product">All</p>
                                <span>( @Model.CountProducts )</span>
                            </div>
                            @foreach (var genre in Model.Genres)
                            {
                                <div class="product-category">
                                    <p data-id="@genre.Id" class="genre">@genre.Name</p>
                                    <span>( @genre.ProductGenres?.Count() )</span>
                                </div>
                            }
                        </div>

                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>

                        <div class="categories">
                            <h5>Authors</h5>
                        </div>


                        <div class="product-categories">
                            @foreach (var author in Model.Authors)
                            {
                                sumCategoryProductss += (int)author.ProductAuthors?.Count();
                            }
                            <div class="product-category">
                                <p class="all-product">All</p>
                                <span>(@sumCategoryProductss)</span>
                            </div>
                            @foreach (var author in Model.Authors)
                            {
                                <div class="product-category">
                                    <p data-id="@author.Id" class="author">@author.Name</p>
                                    <span>(@author.ProductAuthors?.Count())</span>
                                </div>
                            }
                        </div>


                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>


                        <div class="tags">
                            <h5>Tags</h5>
                        </div>
                        <div class="tags-name">
                            @foreach (var tag in Model.Tags)
                            {
                                <p data-id="@tag.Id" class="tag">@tag.Name</p>
                            }
                        </div>
                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>

                        <div class="instagram">
                            <h5>Instagram</h5>
                        </div>

                        <div class="instagram-image">
                            <a target="_blank" href="https://www.instagram.com/?hl=en">
                                <img src="~/assets/images/shop/instagram-photo-1.jpg" alt="">
                            </a>
                            <a target="_blank" href="https://www.instagram.com/?hl=en">
                                <img src="~/assets/images/shop/instagram-photo-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="instagram-image mt-1">
                            <a target="_blank" href="https://www.instagram.com/?hl=en">
                                <img src="~/assets/images/shop/instagram-photo-3.jpg" alt="">
                            </a>
                            <a target="_blank" href="https://www.instagram.com/?hl=en">
                                <img src="~/assets/images/shop/instagram-photo-4.jpg" alt="">
                            </a>
                        </div>

                        <div class="borders">
                            <div class="border">
                            </div>
                            <div class="border">
                            </div>
                        </div>
                        <div class="logo">
                            <span>❦</span>
                        </div>


                        <div class="socials">
                            <h5>Social</h5>
                        </div>
                        <div class="icons">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://twitter.com/">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/?hl=en">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.flickr.com/">
                                        <i class="fa-brands fa-flickr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.pinterest.com/">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<!-- Main Area -->
@section Scripts{
    <script src="~/assets/js/shop.js"></script>
}
