@model HomeVM

<main>
    <section id="slider">
        <div class="container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @foreach (var slider in Model.Sliders)
                    {
                        <div class="swiper-slide">
                            <img src="~/assets/images/home/@slider.Image" alt="">
                            <p>@slider.Title</p>
                            <h1>@slider.Name</h1>
                            <h3>
                                @slider.Description
                            </h3>
                            <button class="shop">READ MORE</button>
                        </div>
                    }

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section>

    <section id="products">
        <div class="container">
            <div class="row">
                <div class="category">
                    <ul id="myBtnContainer">
                        <li class="item active btn-tab" onclick="filterSelection('all')" data-id="all">
                            <a>All</a>
                        </li>
                        <li class="item btn-tab" onclick="filterSelection('bestsellers')" data-id="bestsellers">
                            <a>Best Sellers</a>
                        </li>
                        <li class="item btn-tab" onclick="filterSelection('fantasy')" data-id="fantasy">
                            <a class="btn-tab">Fantasy</a>
                        </li>
                        <li class="item btn-tab" onclick="filterSelection('history')" data-id="history">
                            <a class="btn-tab">History</a>
                        </li>
                        <li class="item btn-tab" onclick="filterSelection('art')" data-id="art">
                            <a class="btn-tab">Art</a>
                        </li>
                        <li class="item btn-tab" onclick="filterSelection('lovestories')" data-id="lovestories">
                            <a class="btn-tab">Love Stories</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv fantasy all product">
                    <div class="products" data-id="1">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-1.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JOHN STRASS</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Winter Darkest Tragedy</a>
                        </div>
                        <div class="price-button">
                            <p>$38.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv fantasy all product">
                    <div class="products" data-id="2">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-2.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JESSICA JOHNSON</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Symphony Of Trilogy</a>
                        </div>
                        <div class="price-button">
                            <p>$22.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv bestsellers all product">
                    <div class="products" data-id="3">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-3.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JANE DOE</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Wellness And Paradise</a>
                        </div>
                        <div class="price-button">
                            <p>$67.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv history all product">
                    <div class="products" data-id="4">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-4.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JAMES HOFFMAN</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Renaissance History</a>
                        </div>
                        <div class="price-button">
                            <p>$30.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 all-products filterDiv bestsellers history all product">
                    <div class="products" data-id="5">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-5.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">ADAM STRASS</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Fantasy Storytelling</a>
                        </div>
                        <div class="price-button">
                            <p>$29.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  filterDiv art all product">
                    <div class="products" data-id="6">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-6.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JOHN STRASS</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Easy Fast Cooking</a>
                        </div>
                        <div class="price-button">
                            <p>$78.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  filterDiv art all product">
                    <div class="products" data-id="7">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-7.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JAMES HOFFMAN</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Amster Hamster Trip</a>
                        </div>
                        <div class="price-button">
                            <p>$69.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv bestsellers lovestories all product">
                    <div class="products" data-id="8">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-8.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">JANE DOE</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Summertime Love Stories</a>
                        </div>
                        <div class="price-button">
                            <p>$33.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  filterDiv lovestories all product">
                    <div class="products" data-id="9">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-9.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">Jessica Johnson</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Learn To Love Yourself</a>
                        </div>
                        <div class="price-button">
                            <p>$50.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv all product">
                    <div class="products" data-id="10">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-10.jpg" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">John Strass</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Japan Travel Stories</a>
                        </div>
                        <div class="price-button">
                            <p>$56.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  filterDiv fantasy all product">
                    <div class="products" data-id="11">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-11.webp" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">LEO TOLSTOY</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Anna Karenina</a>
                        </div>
                        <div class="price-button">
                            <p>$66.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 filterDiv fantasy all product">
                    <div class="products" data-id="2">
                        <a href="ProductDetail.html"><img src="~/assets/images/home/product-12.png" alt=""></a>
                        <div class="name">
                            <a href="ProductDetail.html">STEFAN ZWEIG</a>
                        </div>
                        <div class="category-name">
                            <a href="ProductDetail.html">Chees</a>
                        </div>
                        <div class="price-button">
                            <p>$45.00</p>
                        </div>
                        <div class="wishlist-cart">
                            <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                               title="Add To Wishlist"></i>
                            <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                               title="Add To Cart"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="our-services">
        <div class="container">
            @foreach (var our in Model.Ours)
            {
                <div class="service">
                    <div class="background-image" style="background-image: url(assets/images/home/@our.Image)">
                        <div class="icon">
                            <span>❦</span>
                        </div>
                        <div class="name">
                            <p>@our.Name</p>
                        </div>
                        <div class="description">
                            <h3>
                                @our.Description
                            </h3>
                        </div>
                        <div class="button">
                            <button>
                                <p>READ MORE</p>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <section id="authors">
        <div class="container">
            <div class="authors">
                <div class="services">
                    <p>OUR SERVICES</p>
                </div>
                <div class="month">
                    <h1>Authors of the month</h1>
                </div>
                <div class="description">
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>

                </div>
                <div class="row">

                    @foreach (var team in Model.Teams)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="author">
                                <div class="image">
                                    <img src="~/assets/images/home/@team.Image" alt="">
                                </div>
                                <div class="profession">
                                    <p>@team.Position.Name</p>
                                </div>
                                <div class="name">
                                    <p>@team.Name</p>
                                </div>
                                <div class="author-description">
                                    <p>
                                        @team.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <section id="autobiography1">
        <div class="container">
            @foreach (var autobiographyOne in Model.AutobiographyOnes)
            {
                <div class="autobiography1"
                     style="background-image: url(assets/images/home/authobiography-backgorund.jpg)">
                    <div class="left">
                        <div class="name">
                            <p>@autobiographyOne.Title</p>
                        </div>
                        <div class="title">
                            <h3>@autobiographyOne.Name</h3>
                        </div>
                        <div class="description">
                            <p>
                                @autobiographyOne.Description
                            </p>
                        </div>
                        <div class="button">
                            <button>
                                <p>READ MORE</p>
                            </button>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/home/coffe.png" alt="">
                        </div>
                    </div>
                    <div class="right" style="background-image: url(~/assets/images/home/zerler.png)">
                        <div class="image1">
                            <img src="~/assets/images/home/@autobiographyOne.SmallImage" alt="">
                        </div>
                        <div class="image2">
                            <img src="~/assets/images/home/@autobiographyOne.LargeImage" alt="">
                        </div>
                    </div>

                </div>
            }

        </div>
    </section>

    <section id="autobiography2">
        <div class="container">
            @foreach (var autobiographyTwos in Model.AutobiographyTwos)
            {
                <div class="autobiography2">

                    <div class="left">
                        <div class="backgrounds">
                            <div class="backgorund-image"
                                 style="background-image: url(~/assets/images/home/background-image-2.png)">
                            </div>
                            <div class="images">
                                <div class="image1">
                                    <img src="~/assets/images/home/@autobiographyTwos.LargeImage" alt="">
                                </div>
                                <div class="image2">
                                    <img src="~/assets/images/home/@autobiographyTwos.SmallImage" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="name">
                            <p>@autobiographyTwos.Title</p>
                        </div>
                        <div class="title">
                            <h3>@autobiographyTwos.Name</h3>
                        </div>
                        <div class="description">
                            <p>
                                @autobiographyTwos.Description
                            </p>
                        </div>
                        <div class="button">
                            <button>
                                <p>READ MORE</p>
                            </button>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/home/plane.png" alt="">
                        </div>
                    </div>

                </div>
            }

        </div>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-8">
                            <div class="image1">
                                <img src="~/assets/images/home/gallery-1.jpg" alt="">
                            </div>
                            <div class="image4">
                                <img src="~/assets/images/home/gallery-9.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image2">
                                <img src="~/assets/images/home/gallery-2.jpg" alt="">
                            </div>
                            <div class="image3">
                                <img src="~/assets/images/home/gallery-6.jpg" alt="">
                            </div>
                            <div class="image5">
                                <img src="~/assets/images/home/gallery-10.jpg" alt="">
                            </div>
                            <div class="image6">
                                <img src="~/assets/images/home/gallery-11.jpg" alt="">
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <div class="image7">
                                <img src="~/assets/images/home/gallery-4.jpg" alt="">
                            </div>
                            <div class="image8">
                                <img src="~/assets/images/home/gallery-5.jpg" alt="">
                            </div>
                            <div class="image9">
                                <img src="~/assets/images/home/gallery-8.jpg" alt="">
                            </div>
                            <div class="image10">
                                <img src="~/assets/images/home/gallery-12.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="image11">
                                <img src="~/assets/images/home/gallery-7.jpg" alt="">
                            </div>
                            <div class="image12">
                                <img src="~/assets/images/home/gallery-3.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="brand">
        <div class="container">
            <div class="row">
                @foreach (var brand in Model.Brands)
                {
                    <div class="col-lg-2 col-md-6 col-sm-12 brand">
                        <img src="~/assets/images/home/@brand.Image" alt="">
                    </div>
                }

            </div>

        </div>
    </section>
</main>

