@model HomeVM

<main>
    <section id="slider">
        <div class="container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @foreach (var slider in Model.Sliders)
                    {
                        <div class="swiper-slide">
                            <img src="~/assets/images/home/@slider.Image" alt="">
                            <p>@slider.Title</p>
                            <h1>@slider.Name</h1>
                            <h3>
                                @slider.Description
                            </h3>
                            <button class="shop">READ MORE</button>
                        </div>
                    }

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section>

    <section id="products">
        <div class="container">
            <div class="row">
                <div class="category">
                    <ul id="myBtnContainer">
                        <li class="item active btn-tab" onclick="filterSelection('all')" data-id="all">
                            <a>All</a>
                        </li>
                        @foreach (var genre in Model.Genres)
                        {
                            <li class="item btn-tab" onclick="filterSelection('@genre.Name')" data-id="@genre.Name">
                                <a>@genre.Name</a>
                            </li>
                        }
       
                    </ul>
                </div>

                @foreach (var item in Model.Products)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 filterDiv @item.ProductGenres.FirstOrDefault().Genre.Name all product">
                        <div class="products" data-id="@item.Id">
                            <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id"><img src="~/assets/images/shop/@item.Image" alt=""></a>
                            <div class="name">
                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">@item.ProductGenres.FirstOrDefault().Genre.Name </a>
                            </div>
                            <div class="category-name">
                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">@item.Name</a>
                            </div>
                            <div class="price-button">
                                <p>$@item.Price</p>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="wishlist-cart" data-id="@item.Id">
                                    <i class="fa-solid fa-heart wishlist-add" data-toggle="tooltip" data-placement="top"
                                       title="Add To Wishlist"></i>
                                    <i class="fa-solid fa-cart-shopping cart-add" data-toggle="tooltip" data-placement="top"
                                       title="Add To Cart"></i>
                                </div>
                            }
                            else
                            {
                                <div class="wishlist-cart">
                                    <a asp-controller="Account" asp-action="Login" class="text-decoration-none">
                                        <i class="fa-solid fa-heart" data-toggle="tooltip" data-placement="top"
                                           title="Add To Wishlist"></i>
                                    </a>
                                    <a asp-controller="Account" asp-action="Login">
                                        <i class="fa-solid fa-cart-shopping" data-toggle="tooltip" data-placement="top"
                                           title="Add To Cart" style="color:black"></i>
                                    </a>

                                </div>
                            }

                        </div>

                    </div>
                }

            </div>
        </div>
    </section>

    <section id="our-services">
        <div class="container">
            @foreach (var our in Model.Ours)
            {
                <div class="service">
                    <div class="background-image" style="background-image: url(assets/images/home/@our.Image)">
                        <div class="icon">
                            <span>❦</span>
                        </div>
                        <div class="name">
                            <p>@our.Name</p>
                        </div>
                        <div class="description">
                            <h3>
                                @our.Description
                            </h3>
                        </div>
                        <div class="button">
                            <button>
                                <p>READ MORE</p>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <section id="authors">
        <div class="container">
            <div class="authors">
                <div class="services">
                    <p>@Model.HeaderBackgrounds["TeamHeader"]</p>
                </div>
                <div class="month">
                    <h1>@Model.HeaderBackgrounds["TeamName"]</h1>
                </div>
                <div class="description">
                    <p>
                        @Model.HeaderBackgrounds["TeamDescription"]
                    </p>

                </div>
                <div class="row">
                    @foreach (var team in Model.Teams)
                    {
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="author">
                                <div class="image">
                                    <img src="~/assets/images/home/@team.Image" alt="">
                                </div>
                                <div class="profession">
                                    <p>@team.Position.Name</p>
                                </div>
                                <div class="name">
                                    <p>@team.Name</p>
                                </div>
                                <div class="author-description">
                                    <p>
                                        @team.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>

    <section id="autobiography1">
        <div class="container">
            @foreach (var autobiographyOne in Model.AutobiographyOnes)
            {
                <div class="autobiography1"
                     style="background-image: url(assets/images/home/authobiography-backgorund.jpg)">
                    <div class="left">
                        <div class="name">
                            <p>@autobiographyOne.Title</p>
                        </div>
                        <div class="title">
                            <h3>@autobiographyOne.Name</h3>
                        </div>
                        <div class="description">
                            <p>
                                @autobiographyOne.Description
                            </p>
                        </div>
                        <div class="button">
                            <button>
                                <p>READ MORE</p>
                            </button>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/home/coffe.png" alt="">
                        </div>
                    </div>
                    <div class="right" style="background-image: url(~/assets/images/home/zerler.png)">
                        <div class="image1">
                            <img src="~/assets/images/home/@autobiographyOne.SmallImage" alt="">
                        </div>
                        <div class="image2">
                            <img src="~/assets/images/home/@autobiographyOne.LargeImage" alt="">
                        </div>
                    </div>

                </div>
            }

        </div>
    </section>

    <section id="autobiography2">
        <div class="container">
            @foreach (var autobiographyTwos in Model.AutobiographyTwos)
            {
                <div class="autobiography2">

                    <div class="left">
                        <div class="backgrounds">
                            <div class="backgorund-image"
                                 style="background-image: url(~/assets/images/home/background-image-2.png)">
                            </div>
                            <div class="images">
                                <div class="image1">
                                    <img src="~/assets/images/home/@autobiographyTwos.LargeImage" alt="">
                                </div>
                                <div class="image2">
                                    <img src="~/assets/images/home/@autobiographyTwos.SmallImage" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="name">
                            <p>@autobiographyTwos.Title</p>
                        </div>
                        <div class="title">
                            <h3>@autobiographyTwos.Name</h3>
                        </div>
                        <div class="description">
                            <p>
                                @autobiographyTwos.Description
                            </p>
                        </div>
                        <div class="button">
                            <button>
                                <p>READ MORE</p>
                            </button>
                        </div>
                        <div class="image">
                            <img src="~/assets/images/home/plane.png" alt="">
                        </div>
                    </div>

                </div>
            }

        </div>
    </section>

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-8">
                            <div class="image1">
                                <img src="~/assets/images/home/gallery-1.jpg" alt="">
                            </div>
                            <div class="image4">
                                <img src="~/assets/images/home/gallery-9.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image2">
                                <img src="~/assets/images/home/gallery-2.jpg" alt="">
                            </div>
                            <div class="image3">
                                <img src="~/assets/images/home/gallery-6.jpg" alt="">
                            </div>
                            <div class="image5">
                                <img src="~/assets/images/home/gallery-10.jpg" alt="">
                            </div>
                            <div class="image6">
                                <img src="~/assets/images/home/gallery-11.jpg" alt="">
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <div class="image7">
                                <img src="~/assets/images/home/gallery-4.jpg" alt="">
                            </div>
                            <div class="image8">
                                <img src="~/assets/images/home/gallery-5.jpg" alt="">
                            </div>
                            <div class="image9">
                                <img src="~/assets/images/home/gallery-8.jpg" alt="">
                            </div>
                            <div class="image10">
                                <img src="~/assets/images/home/gallery-12.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="image11">
                                <img src="~/assets/images/home/gallery-7.jpg" alt="">
                            </div>
                            <div class="image12">
                                <img src="~/assets/images/home/gallery-3.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="brand">
        <div class="container">
            <div class="row">
                @foreach (var brand in Model.Brands)
                {
                    <div class="col-lg-2 col-md-6 col-sm-12 brand">
                        <img src="~/assets/images/home/@brand.Image" alt="">
                    </div>
                }

            </div>

        </div>
    </section>
</main>

