@model LayoutVM
@inject UserManager<AppUser> usermanager;
<header>
    <section id="navbar" class="d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="logo-pages">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/home/@Model.Settings["HeaderLogo"]" alt=""></a>
                        </div>
                        <div class="pages">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="About" asp-action="Index">About</a></li>
                                <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                                <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                                <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="basket-search">
                        <div class="basket">
                            <a asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="basket-number">
                                <span class="basket-count">@Model.BasketCount</span>
                            </div>
                            <span class="border"></span>
                        </div>
                        <div class="user">
                            <i class="fa-solid fa-user"></i>
                            <span class="border"></span>
                        </div>
                        <div class="wishlist">
                            <a asp-controller="Wishlist" asp-action="Index"><i class="fa-solid fa-heart"></i></a>
                            <div class="wishlist-number">
                                <span class="wishlist-count">@Model.WishlistCount</span>
                            </div>
                            <span class="border"></span>
                        </div>
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="search-input d-none">
                        <div class="border"></div>
                        <form asp-controller="Shop" asp-action="Index">
                            <input name="searchText" class="input-search" type="text" placeholder="Search">
                            <button class="widgets-searchbox-btn" style="display: none;" type="submit">
                            </button>
                        </form>
                        <div class="border"></div>
                    </div>
                    <div class="login-register d-none">
                        <ul style="list-style:none;">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a class="dropdown-item" href="my-account.html">@User.Identity.Name</a>
                                </li>
                                <div class="border"></div>
                                <li class="nav-item">
                                    <form asp-controller="Account" asp-action="Logout" asp-route-userId="@usermanager.Users.Where(u=>u.UserName==User.Identity.Name).FirstOrDefault().Id" method="post">
                                        <button style="border:none;color:black;margin-left:50px;background-color:white" type="submit" class="nav-link">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Login">Login</a>
                                <div class="border"></div>
                                <a asp-controller="Account" asp-action="Register">Register</a>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="navbar-phone" class="d-lg-none d-block">
        <div class="container">
            <div class="nav">
                <div class="logo-img">
                    <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/home/book-logo-5.png" alt=""></a>
                </div>
                <div class="icons" style="margin-left:7px">
                    <ul>
                        <li><a asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a asp-controller="Wishlist" asp-action="Index"><i class="fa-solid fa-heart"></i></a></li>
                        <li><i class="fa-solid fa-magnifying-glass search"></i></li>
                        <li><a><i class="fa-solid fa-user phone-login"></i></a></li>
                    </ul>
                </div>

                <div class="basketCount" style="margin-top:5px">
                    <span class="basketNumber" style="color:red;margin-left:-134px">
                        @Model.BasketCount
                    </span>
                </div>

                <div class="wishlistCount" style="margin-top:5px">
                    <span class="wishlistNumber" style="color:red;margin-left:-137px">
                        @Model.WishlistCount
                    </span>
                </div>

                <div class="hamburger-icon">
                    <i class="fa-solid fa-bars"></i>
                </div>

            </div>
            <div class="phone-login-register d-none" style="margin-left:200px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;width:173px;height:55px">
                <ul style="list-style:none;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="font-family:cursive">
                            <a class="dropdown-item" href="my-account.html">@User.Identity.Name</a>
                        </li>
                        <div style="width:174px;margin-left:-33px;margin-top:3px" class="border"></div>
                        <li style="font-family:cursive;margin-left:-15px" class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" asp-route-userId="@usermanager.Users.Where(u=>u.UserName==User.Identity.Name).FirstOrDefault().Id" method="post">
                                <button style="border:none;color:black;margin-left:50px;background-color:white" type="submit" class="nav-link">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li><a style="text-decoration:none;color:black;margin-left:-20px;font-family:cursive" asp-controller="Account" asp-action="Login">Login</a></li>
                        <div style="width:173px;margin-left:-33px;margin-top:3px" class="border"></div>
                        <li><a style="text-decoration:none;color:black;margin-left:-20px;font-family:cursive" asp-controller="Account" asp-action="Register">Register</a></li>
                    }

                </ul>
            </div>
            <div class="search-input d-none mt-2">
                <div class="border"></div>
                <input type="text" placeholder="Search">
                <div class="border"></div>
            </div>
            <div class="hamburger-menu d-none">
                <ul style="margin-left:-17px">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>

                </ul>
            </div>
        </div>
    </section>
    <div class="border mt-3 d-lg-none d-block"></div>
</header>

